/* mobile responsive design here */
@media screen and (max-width: 576px) {
  /* navber responsive */
  .nav-main {
    box-shadow: none;
  }
  .nav-container {
    flex-direction: column;
    justify-content: center;
  }
  .nav-left-content {
    flex-direction: column;
  }
  .nav-right-content {
    display: flex;
    flex-direction: column;
  }
  .nab-btn {
    margin-top: 20px;
  }
  /* banner section responsive */
  .banner-main {
    background-image: none;
  }
  .banner-section-container {
    flex-direction: column-reverse;
    height: auto;
  }
  .right-site-content {
    width: 80%;
  }

  .left-site-conent {
    width: 100%;
    padding: 45px;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .left-site-conent h1 {
    font-size: 1.75rem;
    line-height: 30px;
  }
  .left-site-conent h2 {
    font-size: 3rem;
    line-height: 50px;
  }
  .left-site-conent p {
    font-size: 11px;
    line-height: 18px;
    margin-top: 10px;
  }

  .banner-btn button {
    padding: 15px 22px;
    font-size: 12px;
  }
  /* gamer section responsive  */
  .gamer-section-main {
  background:none;
}
  .gamer-section-container {
flex-direction: column;
margin-top: 30px;
}
.gamer-left-content {
  width: 100%;
 
}
.gamer-left-content img {
  width: 100%;
}
.gamer-right-content {
  width:90%;
  text-align: center;
}
.gamer-right-content h3 {

font-size: 2rem;
}

.gamer-right-content button {
  margin-bottom: 30px;
}

}
